doctype html
html(style='font-size: 16px;' lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='')
    meta(name='description' content='')
    title Nộp bài SQL
    link(rel='stylesheet', href='/public/source/css/Nicepage.css', media='screen')
    link(rel='stylesheet', href='/public/source/css/TestSQL.css', media='screen')
    script(src="/public/source/js/script.js") 
    script.u-script(type='text/javascript' src='/public/source/js/jquery.js')
    script.u-script(type='text/javascript' src='/public/source/js/nicepage.js')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
    meta(name='theme-color' content='#478ac9')
    meta(property='og:title' content='Nộp bài SQL')
    meta(property='og:type' content='website')
    script(language='javascript' type='text/javascript' src='/public/editarea/edit_area/edit_area_full.js')
    script.
      editAreaLoader.init({
        id : "message-79f8",
        start_highlight: true,
        word_wrap: true,
        allow_toggle: false,
        syntax: "sql",
        EA_load_callback: "editAreaLoaded",
        show_line_colors: true,
        font_size: 13,
      });

  body.u-body.u-xl-mode(data-lang='en')
    header#sec-8082.u-align-center-sm.u-align-center-xs.u-clearfix.u-header.u-header
      .u-clearfix.u-sheet.u-valign-middle.u-sheet-1
        a.u-image.u-logo.u-image-1(href='/')
          img.u-logo-image.u-logo-image-1(src='/public/source/image/default-logo.png')
        .u-social-icons.u-spacing-10.u-social-icons-1
          a.u-social-url(title='facebook' target='_blank' href='')
            span.u-icon.u-social-facebook.u-social-icon.u-icon-1
              svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 112 112' style='')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-4239')
              svg#svg-4239.u-svg-content(viewBox='0 0 112 112' x='0' y='0')
                circle(fill='currentColor' cx='56.1' cy='56.1' r='55')
                path(fill='#FFFFFF' d='M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2\
                c0-6.7,3.1-17,17-17h12.5v13.9H73.5z')
          a.u-social-url(title='twitter' target='_blank' href='')
            span.u-icon.u-social-icon.u-social-twitter.u-icon-2
              svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 112 112' style='')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-dda9')
              svg#svg-dda9.u-svg-content(viewBox='0 0 112 112' x='0' y='0')
                circle.st0(fill='currentColor' cx='56.1' cy='56.1' r='55')
                path(fill='#FFFFFF' d='M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2\
                c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1\
                c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14\
                c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4\
                c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z')
          a.u-social-url(title='instagram' target='_blank' href='')
            span.u-icon.u-social-icon.u-social-instagram.u-icon-3
              svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 112 112' style='')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-a878')
              svg#svg-a878.u-svg-content(viewBox='0 0 112 112' x='0' y='0')
                circle(fill='currentColor' cx='56.1' cy='56.1' r='55')
                path(fill='#FFFFFF' d='M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2\
                z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z')
                path(fill='#FFFFFF' d='M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z')
                path(fill='#FFFFFF' d='M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8\
                C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5\
                c5.5,0,9.9,4.5,9.9,9.9V73.3z')
        nav.u-align-left.u-menu-dropdown.u-offcanvas.u-menu-1
          .menu-collapse(style='font-size: 1rem;')
            a.u-button-style.u-nav-link(href='#')
              svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 302 302' style='')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-8a8f')
              svg#svg-8a8f.u-svg-content(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 302 302' style='enable-background:new 0 0 302 302;' xml:space='preserve')
                g
                  rect(y='36' width='302' height='30')
                  rect(y='236' width='302' height='30')
                  rect(y='136' width='302' height='30')
          .u-custom-menu.u-nav-container
            ul.u-nav.u-unstyled.u-nav-1
              li.u-nav-item
                a.u-button-style.u-nav-link(href='/user/TestSQL') Luyện tập
              li.u-nav-item
                a.u-button-style.u-nav-link(href='/user/BaiTap') Bài tập
              li.u-nav-item
                a.u-button-style.u-nav-link() Cá nhân
                .u-nav-popup
                  ul.u-h-spacing-20.u-nav.u-unstyled.u-v-spacing-10.u-nav-2
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/user/profile') Trang cá nhân
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/user/LichSu') Lịch sử truy vấn
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/user/DoiMatKhau') Đổi mật khẩu
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/' onclick="eraseCookie('x_authorization')") Đăng xuất

    section#sec-5722.u-align-center.u-clearfix.u-grey-15.u-section-1
      .u-clearfix.u-sheet.u-sheet-1
        h3.u-text.u-text-custom-color-1.u-text-default.u-text-1 #{question.TieuDe} (#{question.MucDo})
        .u-tabs.u-tabs-1
          ul.u-border-2.u-border-grey-75.u-tab-list.u-unstyled(role='tablist')
            li.u-tab-item.u-tab-item-1(role='presentation')
              a#link-tab-0da5.active.u-active-custom-color-1.u-button-style.u-custom-color-2.u-tab-link.u-tab-link-1(href='#tab-0da5' role='tab' aria-controls='tab-0da5' aria-selected='true') Nội dung
            li.u-tab-item.u-tab-item-2(role='presentation')
              a#link-tab-14b7.u-active-custom-color-1.u-button-style.u-custom-color-2.u-tab-link.u-tab-link-2(href='#tab-14b7' role='tab' aria-controls='tab-14b7' aria-selected='false') Lịch sử nộp bài
            li.u-tab-item.u-tab-item-3(role='presentation')
              a#link-tab-2917.u-active-custom-color-1.u-button-style.u-custom-color-2.u-tab-link.u-tab-link-3(href='#tab-2917' role='tab' aria-controls='tab-2917' aria-selected='false') Danh sách câu hỏi
          .u-tab-content
            #tab-0da5.u-container-style.u-tab-active.u-tab-pane.u-white.u-tab-pane-1(role='tabpanel' aria-labelledby='link-tab-0da5')
              .u-container-layout.u-container-layout-1
                .u-clearfix.u-expanded-width.u-layout-wrap.u-layout-wrap-1
                  .u-layout
                    .u-layout-row
                      .u-container-style.u-layout-cell.u-size-30.u-layout-cell-1
                        .u-container-layout.u-container-layout-2
                          h4.u-text.u-text-custom-color-1.u-text-2 #{question.TieuDe} (#{question.MucDo})
                          .fr-view.u-clearfix.u-rich-text.u-text.u-text-3
                            #{question.NoiDung}/
                      .u-container-style.u-layout-cell.u-size-30.u-layout-cell-2
                        .u-container-layout.u-container-layout-3
                          .u-form.u-form-1
                            form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(action='/NopBaiSQL' method='POST' source='custom' name='form' style='padding: 10px;' id='formElem')
                              .u-form-group.u-form-message
                                label.u-custom-font.u-heading-font.u-label.u-text-custom-color-1.u-label-1(for='message-79f8') Lệnh truy vấn MS SQL Server
                                textarea#message-79f8.u-border-1.u-border-grey-30.u-input.u-input-rectangle.u-white(placeholder='/* Nhập lệnh truy vấn ở đây */' rows='20' cols='50' name='SQLQuery' required='')
                              .u-align-left.u-form-group.u-form-submit
                                a.u-border-none.u-btn.u-btn-submit.u-button-style.u-custom-color-1.u-dialog-link.u-btn-1(href='#popup' onclick='SubmitSQLWithEditor()') Nộp bài
                          a.u-border-none.u-btn.u-button-style.u-custom-color-1.u-dialog-link.u-btn-2(href='#popup' onclick='SubmitSQLWithEditor()') Nộp bài
            #tab-14b7.u-container-style.u-tab-pane.u-white.u-tab-pane-2(role='tabpanel' aria-labelledby='link-tab-14b7')
              .u-container-layout.u-container-layout-4
                .u-table.u-table-responsive.u-table-1
                  table.u-table-entity
                    colgroup
                      col(width='55%')
                      col(width='15%')
                      col(width='30%')

                    if history.length > 0 && history[0].KetQua != null
                     thead.u-align-center.u-custom-color-1.u-table-header.u-table-header-1
                      tr(style='height: 29px;')
                        th.u-border-1.u-border-custom-color-1.u-table-cell Câu lệnh SQL
                        th.u-border-1.u-border-custom-color-1.u-table-cell Kết quả
                        th.u-border-1.u-border-custom-color-1.u-table-cell Thời gian nộp bài
                      - const options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', timeZone: "Asia/Jakarta"};

                      each ls of history
                        tbody.u-table-body
                          tr(style='height: 75px;')
                            td.u-border-1.u-border-grey-30.u-first-column.u-grey-5.u-table-cell.u-table-cell-4 #{ls.SQLQuery}
                            td.u-border-1.u-border-grey-30.u-table-cell #{ls.KetQua}
                            td.u-border-1.u-border-grey-30.u-table-cell #{new Date(ls.ThoiGian).toLocaleString("vi-VN", options)}
                    else
                      h3.u-text.u-text-custom-color-1.u-text-default.u-text-3(style="padding-left: 10px;") Không có lịch sử!
            #tab-2917.u-container-style.u-tab-pane.u-white.u-tab-pane-3(role='tabpanel' aria-labelledby='link-tab-2917')
              .u-container-layout.u-container-layout-5
                .u-table.u-table-responsive.u-table-2
                  table.u-table-entity
                    colgroup
                      col(width='15%')
                      col(width='15%')
                      col(width='50%')
                      col(width='20%')
                    thead.u-align-center.u-custom-color-1.u-table-header.u-table-header-2
                      tr(style='height: 28px;')
                        th.u-border-1.u-border-custom-color-1.u-table-cell ID Câu hỏi
                        th.u-border-1.u-border-custom-color-1.u-table-cell Độ khó
                        th.u-border-1.u-border-custom-color-1.u-table-cell Tên câu hỏi
                        th.u-border-1.u-border-custom-color-1.u-table-cell Đã hoàn thành
                    tbody.u-table-body
                      each ch in anotherQuestion
                        tr(style='height: 62px;')
                          td.u-border-1.u-border-grey-30.u-first-column.u-grey-5.u-table-cell.u-table-cell-11 #{ch.MaCH}
                          td.u-border-1.u-border-grey-30.u-table-cell #{ch.MucDo}
                          td.u-border-1.u-border-grey-30.u-table-cell
                            a.u-active-none.u-border-none.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-1-base.u-btn-1(href='/user/BaiTap/'+question.MaBT+'/'+ch.MaCH) #{ch.TieuDe}

                          if ch.KetQua
                            td.u-border-1.u-border-grey-30.u-table-cell True
                          else
                            td.u-border-1.u-border-grey-30.u-table-cell False

    section#popup.u-align-center.u-black.u-clearfix.u-container-style.u-dialog-block.u-opacity.u-opacity-70.u-dialog-section-8
      .u-container-style.u-dialog.u-radius-10.u-shape-round.u-white.u-dialog-1
        .u-container-layout.u-container-layout-1
          h2.u-align-center.u-text.u-text-1 Kết quả thực thi
          h4#encoded.u-align-center.u-text.u-text-default.u-text-2(style="margin: auto;padding-top: 20px;")
        button.u-dialog-close-button.u-icon.u-text-grey-50.u-icon-1.btn
          svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 413.348 413.348' style='')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-5801')
          svg#svg-5801.u-svg-content(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' xml:space='preserve' viewBox='0 0 413.348 413.348')
            path(d='m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z')
    style.
      .u-dialog-section-8 {
      min-height: 826px;
      }
      .u-dialog-section-8 .u-dialog-1 {
      width: 566px;
      min-height: 255px;
      height: auto;
      box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
      margin: 230px auto 60px;
      }
      .u-dialog-section-8 .u-container-layout-1 {
      padding: 40px 30px;
      }
      .u-dialog-section-8 .u-text-1 {
      font-size: 2.5rem;
      letter-spacing: 1px;
      text-transform: none;
      font-weight: normal;
      margin: 30px 0 0;
      }
      .u-dialog-section-8 .u-text-2 {
      margin: 20px 0 0;
      }
      .u-dialog-section-8 .u-icon-1 {
      width: 15px;
      height: 15px;
      left: auto;
      top: 17px;
      position: absolute;
      right: 16px;
      }
      @media (max-width: 1199px) {
      .u-dialog-section-8 .u-text-1 {
      width: 297px;
      }
      }
      @media (max-width: 991px) {
      .u-dialog-section-8 .u-container-layout-1 {
      padding-top: 30px;
      padding-bottom: 30px;
      }
      }
      @media (max-width: 767px) {
      .u-dialog-section-8 .u-dialog-1 {
      width: 540px;
      }
      }
      @media (max-width: 575px) {
      .u-dialog-section-8 .u-dialog-1 {
      width: 340px;
      }
      .u-dialog-section-8 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
      }
      .u-dialog-section-8 .u-text-1 {
      font-size: 2.25rem;
      margin-left: 2px;
      margin-right: 2px;
      }
      }

script. 
  async function SubmitSQLWithEditor() {
    document.querySelector('.btn').style.visibility = 'hidden';
    document.querySelector('#encoded').innerHTML = "Đang gửi yêu cầu, vui lòng đợi!";

    var SQLQuery = editAreaLoader.getValue("message-79f8")
    
    data = {
        SQLQuery : SQLQuery,
    }

    let url = window.location.href;

    let response = await fetch(url, {
            method: 'POST', 
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
            json: true
    })

    let text = await response.json(); 
    console.log(text)
    
    if(text.redirect)
        window.location.href = text.redirect;
    
    if(text.statusCode == 200) 
      document.querySelector('#encoded').style.color = "green";
    else
      document.querySelector('#encoded').style.color = "red";

    document.querySelector("#encoded").innerHTML = JSON.stringify(text.alert);
    document.querySelector('.btn').style.visibility = "visible";
  };