doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/public/source/fonts/fontawesome-free-6.2.0-web/css/all.css')
    link(rel='stylesheet' href='/public/source/css/view-student.css')
    link(rel='icon' type='image/x-icon' href='/public/source/img/favicon.png')
    link(rel='stylesheet' href='/public/source/css/style.css')
    script(src='/public/source/js/script.js')
    script(src='https://kit.fontawesome.com/7b85820244.js' crossorigin='anonymous')
    link(rel='icon' type='image/x-icon' href='/public/source/img/favicon.png')
    title CoCoEdu
  body
    - var role = role
    - var role_encode;
      if (role == 'Admin')
        - role_encode = "Administator"
      if (role == 'GiaoVien')
        - role_encode = "Giáo Viên"
      if (role == "HocSinh")
        - role_encode = "Học Sinh"

    .header
      .actions_user_hd
        #profile.profile_hd(onclick='menuhdToggle()')
          img(src='/public/source/img/user_none1.png' alt='image user')
        .menu_user_hd
          .profile_name #{user.HoTen}
            br
            span #{role_encode}
          ul
            li
              a(href='/user/profile/') Hồ Sơ
            li
              a(onclick="DangXuat()") Đăng Xuất
      form.search-bar
        input.searchTerm(type='text' placeholder='Tìm kiếm tại đây')
        button.searchButton(type='submit')
          i.fa-solid.fa-magnifying-glass
    // Tên app,logo app+
    // 
    // Mới sửa
    .sidebar
      .logo-details
        img(src='/public/source/img/preskool.png' alt='logo')
        a(href='/user/profile/')
          span.logo_name CoCoEdu
      // Mới sửa
      .nav_links
        .sidenav
          // Bảng điều khiển
          div
            button.dropdown-btn
              i#icon_sn.fa-solid.fa-border-all
              span.link_name Bảng điều khiển
              i#drop.fas.fa-angle-right
            .dropdown-container
              a.link_name(href='#') Bảng điều khiển
              if (role == 'Admin')
                .nbar-sub
                  a(href='/admin/Dashboard/') Administrator
              if (role == 'GiaoVien')
                .nbar-sub
                  a(href='/user/DashboardGiaoVien/') Giáo Viên
              if (role == 'HocSinh')
                .nbar-sub
                  a(href='/user/DashboardHocSinh/') Học Sinh
          // SInh viên
          if(role == 'Admin' || role == 'HocSinh')
            div
              button.dropdown-btn
                i#icon_sn.fa-solid.fa-graduation-cap
                span.link_name Học Sinh
                i#drop.fas.fa-angle-right
              .dropdown-container
                a.link_name(href='#') Học Sinh
                  if (role == "HocSinh")
                    .nbar-sub
                      a(href='/user/DanhSachHocSinh') Danh Sách Học Sinh
                  if (role == "Admin")
                    .nbar-sub
                      a(href='/admin/DanhSachHocSinh') Danh Sách Học Sinh
                  if (role == "Admin")
                    .nbar-sub
                      a(href='/admin/ThemTaiKhoan') Thêm Học Sinh
          if(role == 'Admin' || role == 'GiaoVien')
            div
              button.dropdown-btn
                i#icon_sn.fa-solid.fa-book-open
                span.link_name Lớp
                i#drop.fas.fa-angle-right
              .dropdown-container
                a.link_name(href='#') Lớp
                
                if(role == 'GiaoVien')
                  .nbar-sub
                    a(href='/user/DanhSachLopHoc') Danh Sách Lớp
                if( role == 'Admin')
                  .nbar-sub
                    a(href='/admin/DanhSachLopHoc') Danh Sách Lớp
                  .nbar-sub
                    a(href='/admin/ThemLopHoc') Thêm Lớp
          // Giáo Viên
          if(role == 'Admin' || role == 'GiaoVien')
            div
              button.dropdown-btn
                i#icon_sn.fa-solid.fa-chalkboard-user
                span.link_name Giáo Viên
                i#drop.fas.fa-angle-right
              .dropdown-container
                a.link_name(href='#') Giáo Viên
                if (role =="GiaoVien")
                  .nbar-sub
                    a(href='/user/DanhSachGiaoVien') Danh Sách Giáo Viên
                if (role == "Admin")
                  .nbar-sub
                    a(href='/admin/DanhSachGiaoVien') Danh Sách Giáo Viên
                  .nbar-sub
                    a(href='/admin/ThemTaiKhoan') Thêm Giáo Viên
            // Bảng điểm
            
            if( role == "GiaoVien")
              div
                button.dropdown-btn
                  i#icon_sn.fa-regular.fa-calendar
                  span.link_name Bảng điểm
                  i#drop.fas.fa-angle-right
                .dropdown-container
                  a.link_name(href='#') Bảng điểm
                  .nbar-sub
                    a(href='#') Xem bảng điểm
                    // Mới sửa
                  .nbar-sub
                    a(href='/user/NhapDiem/TN101/') Nhập bảng điểm
                  // Mới sửa
                // Mới sửa
            
          div
            button.dropdown-btn
              i#icon_sn.fa-solid.fa-pen
              span.link_name Thông báo
              i#drop.fas.fa-angle-right
            .dropdown-container
              a.link_name(href='#') Thông báo
              .nbar-sub
                a(href='/user/XemThongBao') Xem Thông báo
              
              if (role == "Admin")
                .nbar-sub
                  a(href='/admin/DanhSachBaiDang') Danh Sách Thông báo
                .nbar-sub
                  a(href='/admin/ThemBaiDang') Tạo Thông báo
        // Mới sửa
        
                
    section.home-section
      .home-content
        i.fa-solid.fa-bars
    .page-wrapper
      .content
        //- .page-header
        //-   .page-header-title
        //-     .page-header-student-title
              //- h3.page-title Chi tiết #{role_encode}

        .student-form-view
          .card
            .card-table
              .card-body
                div
                  .row
                    .page-header-student-title
                      h5.page-title Hồ sơ #{role_encode}
                    .student-profile-head
                      .profile-bg-img
                        img(src='/public/source/img/profile-bg.jpg' alt='profile')
                      .row
                        .profile-name
                          .profile-user
                            .profile-user-img
                              img(src='/public/source/img/profile-user.jpg' alt='profile user')
                            .user-name
                              h4 #{user.HoTen}
                    .row-user
                      .student-detail
                        .student-detail-personal
                          .card-user
                            .card-body-user
                              .heading-detail
                                h4 Personal Detail:
                              .personal-activity
                                .personal-icon
                                  i.fa-solid.fa-user
                                .view-personal
                                  h4 Họ Tên
                                  h5 #{user.HoTen}
                              .personal-activity
                                .personal-icon
                                  i.fa-solid.fa-building
                                .view-personal
                                  h4 Lớp
                                  h5 10A1
                              .personal-activity
                                .personal-icon
                                  i.fa-solid.fa-user
                                .view-personal
                                  h4 Giới Tính
                                  h5 #{user.GioiTinh}
                              .personal-activity
                                .personal-icon
                                  i.fa-solid.fa-calendar-days
                                .view-personal
                                  h4 Ngày Sinh
                                  - var date = new Date(user.NgSinh);
                                  - var date = (date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1)) + '/' + ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + date.getFullYear();

                                  h5 #{date} 
                              .personal-activity
                                .personal-icon
                                  i.fa-solid.fa-phone
                                .view-personal
                                  h4 Số Điện Thoại
                                  h5 +84478125369
                              .personal-activity
                                .personal-icon
                                  i.fa-solid.fa-envelope
                                .view-personal
                                  h4 Email
                                  h5 #{user.Email}
                              .personal-activity
                                .personal-icon
                                  i.fa-sharp.fa-solid.fa-location-dot
                                .view-personal
                                  h4 Địa Chỉ
                                  h5 #{user.DiaChi}
                      .user-about
                        .user-about-personal
                          .card-user
                            .card-body-user
                              //- .heading-detail
                              //-   h4 Về em
                              .user-paragraph
                                h5 Xin chào, mình là #{user.HoTen}
                                p
                                  | Chào các bạn, mình là #{user.HoTen}, học sinh
                                  | lớp 10A1, trường THPT ABC. Gia đình mình có
                                  | năm người. Bố mình là Hà Huy Hoàng, bố làm kỹ
                                  | sư xây dựng. Ngôi nhà cả gia đình mình đang
                                  | sống chính là do bố thiết kế. Mẹ mình là
                                  | Nguyễn Thị Hoa là một giáo viên tiểu học. Anh
                                  | trai của mình đang là học sinh lớp 12. Năm
                                  | nay, anh sẽ bước vào kì thi Đại học. Mình rất
                                  | mong anh có thể đỗ vào trường Đại học Bách
                                  | Khoa Hà Nội như anh mong muốn. Màu sắc mà mình
                                  | yêu thích là màu đỏ và màu trắng. Môn học mà
                                  | mình yêu thích là môn Ngữ Văn. Bởi môn học này
                                  | đem đến những câu chuyện hay, những bài học lý
                                  | thú, những con người, số phận mình chưa được
                                  | gặp và muốn sẻ chia. Mình cũng thích những môn
                                  | khoa học nữa, đó là thế giới để mình thấy sự
                                  | phát triển, sinh sôi. Nên sau này lớn mình rất
                                  | mong sẽ được làm một nhà khoa học để thỏa
                                  | thích niềm đam mê tìm hiểu về thế giới và ghi
                                  | lại những điều mình từng gặp. Đây là những lời
                                  | giới thiệu về bản thân để các bạn hiểu mình
                                  | hơn. Cảm ơn các thầy/cô đã lắng nghe.
                              .user-paragraph
                                h5 Học Vấn
                                .educate-year
                                  h6 2009 - 2012
                                  p Trường Mầm Non Thành Phố IJK
                                  h6 2012 - 2021
                                  p Trường Tiểu Học và Trung Học Cơ Sở XYZ
    script(src='/public/source/js/main.js')
