doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/public/source/css/classroom.css  ')
    link(rel='stylesheet' href='/public/source/css/edit-classroom.css ')
    link(rel='stylesheet' href='/public/source/fonts/fontawesome-free-6.2.0-web/css/all.css')
    link(rel='icon' type='image/x-icon' href='/public/source/img/favicon.png')
    link(rel='stylesheet' href='/public/source/css/style.css')
    script(src="/public/source/js/script.js")
    script(src='https://kit.fontawesome.com/7b85820244.js' crossorigin='anonymous')
    title CoCoEdu
  body
    - var role = role
    - var role_encode;
      if (role == 'Admin')
        - role_encode = "Administator"
      if (role == 'GiaoVien')
        - role_encode = "Giáo Viên"
      if (role == "HocSinh")
        - role_encode = "Học Sinh"

    .header
      .actions_user_hd
        #profile.profile_hd(onclick='menuhdToggle()')
          img(src='/public/source/img/user_none1.png' alt='image user')
        .menu_user_hd
          .profile_name #{user.HoTen}
            br
            span #{role_encode}
          ul
            li
              a(href='/user/profile/') Hồ Sơ
            li
              a(onclick="DangXuat()") Đăng Xuất
      form.search-bar
        input.searchTerm(type='text' placeholder='Tìm kiếm tại đây')
        button.searchButton(type='submit')
          i.fa-solid.fa-magnifying-glass
    // Tên app,logo app+
    // 
    // Mới sửa
    .sidebar
      .logo-details
        img(src='/public/source/img/preskool.png' alt='logo')
        a(href='/user/profile/')
          span.logo_name CoCoEdu
      // Mới sửa
      .nav_links
        .sidenav
          // Bảng điều khiển
          div
            button.dropdown-btn
              i#icon_sn.fa-solid.fa-border-all
              span.link_name Bảng điều khiển
              i#drop.fas.fa-angle-right
            .dropdown-container
              a.link_name(href='#') Bảng điều khiển
              if (role == 'Admin')
                .nbar-sub
                  a(href='/admin/Dashboard/') Administrator
              if (role == 'GiaoVien')
                .nbar-sub
                  a(href='/user/DashboardGiaoVien/') Giáo Viên
              if (role == 'HocSinh')
                .nbar-sub
                  a(href='/user/DashboardHocSinh/') Học Sinh
          // SInh viên
          if(role == 'Admin' || role == 'HocSinh')
            div
              button.dropdown-btn
                i#icon_sn.fa-solid.fa-graduation-cap
                span.link_name Học Sinh
                i#drop.fas.fa-angle-right
              .dropdown-container
                a.link_name(href='#') Học Sinh
                  if (role == "HocSinh")
                    .nbar-sub
                      a(href='/user/DanhSachHocSinh') Danh Sách Học Sinh
                  if (role == "Admin")
                    .nbar-sub
                      a(href='/admin/DanhSachHocSinh') Danh Sách Học Sinh
                  if (role == "Admin")
                    .nbar-sub
                      a(href='/admin/ThemHocSinh') Thêm Học Sinh
          if(role == 'Admin' || role == 'GiaoVien')
            div
              button.dropdown-btn
                i#icon_sn.fa-solid.fa-book-open
                span.link_name Lớp
                i#drop.fas.fa-angle-right
              .dropdown-container
                a.link_name(href='#') Lớp
                
                if(role == 'GiaoVien')
                  .nbar-sub
                    a(href='/user/DanhSachLopHoc') Danh Sách Lớp
                if( role == 'Admin')
                  .nbar-sub
                    a(href='/admin/DanhSachLopHoc') Danh Sách Lớp
                  .nbar-sub
                    a(href='/admin/ThemLopHoc') Thêm Lớp
          // Giáo Viên
          if(role == 'Admin' || role == 'GiaoVien')
            div
              button.dropdown-btn
                i#icon_sn.fa-solid.fa-chalkboard-user
                span.link_name Giáo Viên
                i#drop.fas.fa-angle-right
              .dropdown-container
                a.link_name(href='#') Giáo Viên
                if (role =="GiaoVien")
                  .nbar-sub
                    a(href='/user/DanhSachGiaoVien') Danh Sách Giáo Viên
                if (role == "Admin")
                  .nbar-sub
                    a(href='/admin/DanhSachGiaoVien') Danh Sách Giáo Viên
                  .nbar-sub
                    a(href='/admin/ThemGiaoVien') Thêm Giáo Viên
            // Bảng điểm
            
            if( role == "GiaoVien")
              div
                button.dropdown-btn
                  i#icon_sn.fa-regular.fa-calendar
                  span.link_name Bảng điểm
                  i#drop.fas.fa-angle-right
                .dropdown-container
                  a.link_name(href='#') Bảng điểm
                  .nbar-sub
                    a(href='#') Xem bảng điểm
                    // Mới sửa
                  .nbar-sub
                    a(href='/user/NhapDiem/TN101/') Nhập bảng điểm
                  // Mới sửa
                // Mới sửa
            
          div
            button.dropdown-btn
              i#icon_sn.fa-solid.fa-pen
              span.link_name Thông báo
              i#drop.fas.fa-angle-right
            .dropdown-container
              a.link_name(href='#') Thông báo
              .nbar-sub
                a(href='/user/XemThongBao') Xem Thông báo
              
              if (role == "Admin")
                .nbar-sub
                  a(href='/admin/DanhSachBaiDang') Danh Sách Thông báo
                .nbar-sub
                  a(href='/admin/ThemBaiDang') Tạo Thông báo
        // Mới sửa
        

    section.home-section
      .home-content
        i.fa-solid.fa-bars
    .page-wrapper
      .content
        .page-header
          .page-header-title
            .page-header-student-title
              h3.page-title Danh Sách Lớp
        // Start: Search Bar
        .student-group-form
          .search-group
            .submit-form-student.submit
              .form-group.local-form
                select.form-control-edit-btn(required='')
                  option Khối 10
                  option Khối 11
                  option Khối 12
            .submit-form-student.submit
              .form-group.local-form
                select.form-control-edit-btn(required='')
                  option Tự Nhiên
                  option Xã Hội
            .search-bar
              .form-group
                input.form-control(type='text' placeholder='Tìm kiếm ...')
            .search-student-btn
              .search-btn
                button.btn(type='button') Tìm Kiếm
        // End: Search Bar
        .student-form
          .card
            .card-table
              .card-body
                .card-body_head
                  .card-body_header
                    .page-header-student-title
                      h3.page-title Lớp
                    .card-body_header-icon
                      a.btn(href='/public/auth/edit-classroom.html')
                        i.fa-solid.fa-plus
                .card-body_body
                  .Data-Table
                    .Data-Table-body
                      .Table-body
                        table.Table
                          thead.student-thead
                            tr.thead(role='row')
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='MaLop')
                                | Mã Lớp
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='Lop')
                                | Tên Lớp
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='Khoi')
                                | Khối
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='HocKy')
                                | Học Kỳ
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='NamHoc')
                                | Năm Học
                              th.text-end.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='ChinhSua')
                                | Chỉnh sửa
                          tbody.student-tbody
                            each LopHoc in ClassDataList
                                tr.odd.table-normal(role='row' id=LopHoc.MaLop)
                                    td #{LopHoc.MaLop}
                                    td #{LopHoc.TenLop}
                                    td #{LopHoc.MaKhoiLop}
                                    td #{LopHoc.MaHocKy}
                                    td 2021 - 2022
                                    td.text-end
                                        .action
                                            a.delete-btn(href='#')
                                                i.fa-solid.fa-trash
                                            - var functionName = "XemThongTinLop('" + LopHoc.MaLop + "')"
                                            a.edit-btn.js-edit-student(href='#' onclick=functionName)
                                                i.fa-solid.fa-pen-to-square

                    .Data-Table-footer
    // Modal
    .modal.js-modal
      .student-form-edit.js-modal-content
        .card
          .card-table
            .card-body-edit
              .modal-close.js-modal-close
                i.fa-solid.fa-xmark
              form(id="formElem")
                .page-header-student-title
                  h5.page-title Thông tin lớp
                .row
                  .edit-form
                    .submit-form
                      .form-group.local-form
                        label
                          | Mã số lớp học
                          span.login-danger *
                        input.form-control-edit(required='' type='text' placeholder='Nhập mã số lớp học...' id="MaLop")
                    .submit-form
                      .form-group.local-form
                        label
                          | Tên lớp
                          span.login-danger *
                        input.form-control-edit(required='' type='text' placeholder='Nhập tên lớp...' id="TenLop")
                    .submit-form
                      .form-group.local-form
                        label
                          | Khối
                          span.login-danger *
                        select.form-control-edit(required='')
                          option Khối 10
                          option Khối 11
                          option Khối 12
                    .submit-form
                      .form-group.local-form
                        label
                          | Lớp
                          span.login-danger *
                        select.form-control-edit(required='')
                          option Tự Nhiên
                          option Xã Hội
                    .submit-form
                      .form-group.local-form
                        label
                          | Học Kỳ
                          span.login-danger *
                        select.form-control-edit(required='')
                          option 1
                          option 2
                    .submit-form
                      .form-group.local-form
                        label
                          | Năm Học
                          span.login-danger *
                        input.form-control-edit(required='' type='text')
                .student-image-submit
                  .image-submit
                    button.search-btn.btn(type='submit')
                      | Xác nhận
    script(src='/public/source/js/main.js')
    script(src='/public/source/js/edit-student.js ')
    script(src='/public/source/js/students.js ')
