doctype html
html(style='font-size: 16px;' lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='​Library Education, ​Meet our Principal, ​Helping each child find and follow their best learning path.')
    meta(name='description' content='')
    title Trang chủ
    link(rel='stylesheet' href='/public/source/css/Nicepage.css' media='screen')
    link(rel='stylesheet' href='/public/source/css/QuanLyCauHoiTrongBaiTap.css' media='screen')
    script.u-script(type='text/javascript' src='/public/source/js/jquery.js')
    script.u-script(type='text/javascript' src='/public/source/js/nicepage.js')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
    link#u-page-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
    meta(name='theme-color' content='#478ac9')
    meta(property='og:title' content='Trang chủ')
    meta(property='og:type' content='website')
  body.u-body.u-xl-mode(data-lang='en')
    header#sec-8082.u-align-center-sm.u-align-center-xs.u-clearfix.u-header.u-header
      .u-clearfix.u-sheet.u-valign-middle.u-sheet-1
        a.u-image.u-logo.u-image-1(href='/')
          img.u-logo-image.u-logo-image-1(src='/public/source/image/default-logo.png')
        .u-social-icons.u-spacing-10.u-social-icons-1
          a.u-social-url(title='facebook' target='_blank' href='')
            span.u-icon.u-social-facebook.u-social-icon.u-icon-1
              svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 112 112' style='')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-4239')
              svg#svg-4239.u-svg-content(viewBox='0 0 112 112' x='0' y='0')
                circle(fill='currentColor' cx='56.1' cy='56.1' r='55')
                path(fill='#FFFFFF' d='M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2\
                c0-6.7,3.1-17,17-17h12.5v13.9H73.5z')
          a.u-social-url(title='twitter' target='_blank' href='')
            span.u-icon.u-social-icon.u-social-twitter.u-icon-2
              svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 112 112' style='')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-dda9')
              svg#svg-dda9.u-svg-content(viewBox='0 0 112 112' x='0' y='0')
                circle.st0(fill='currentColor' cx='56.1' cy='56.1' r='55')
                path(fill='#FFFFFF' d='M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2\
                c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1\
                c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14\
                c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4\
                c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z')
          a.u-social-url(title='instagram' target='_blank' href='')
            span.u-icon.u-social-icon.u-social-instagram.u-icon-3
              svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 112 112' style='')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-a878')
              svg#svg-a878.u-svg-content(viewBox='0 0 112 112' x='0' y='0')
                circle(fill='currentColor' cx='56.1' cy='56.1' r='55')
                path(fill='#FFFFFF' d='M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2\
                z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z')
                path(fill='#FFFFFF' d='M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z')
                path(fill='#FFFFFF' d='M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8\
                C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5\
                c5.5,0,9.9,4.5,9.9,9.9V73.3z')
        nav.u-align-left.u-menu-dropdown.u-offcanvas.u-menu-1
          .menu-collapse(style='font-size: 1rem;')
            a.u-button-style.u-nav-link(href='#')
              svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 302 302' style='')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-8a8f')
              svg#svg-8a8f.u-svg-content(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 302 302' style='enable-background:new 0 0 302 302;' xml:space='preserve')
                g
                  rect(y='36' width='302' height='30')
                  rect(y='236' width='302' height='30')
                  rect(y='136' width='302' height='30')
          .u-custom-menu.u-nav-container
            ul.u-nav.u-unstyled.u-nav-1
              li.u-nav-item
                a.u-button-style.u-nav-link(href='/user/TestSQL') Luyện tập
              li.u-nav-item
                a.u-button-style.u-nav-link(href='/user/BaiTap') Bài tập
              li.u-nav-item
                a.u-button-style.u-nav-link() Cá nhân
                .u-nav-popup
                  ul.u-h-spacing-20.u-nav.u-unstyled.u-v-spacing-10.u-nav-2
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/user/profile') Trang cá nhân
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/user/LichSu') Lịch sử truy vấn
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/user/DoiMatKhau') Đổi mật khẩu
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(onclick="eraseCookie('x_authorization')") Đăng xuất
              li.u-nav-item
                a.u-button-style.u-nav-link() Admin
                .u-nav-popup
                  ul.u-h-spacing-20.u-nav.u-unstyled.u-v-spacing-10.u-nav-2
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/admin/QuanLyBaiTap') Quản lý bài tập
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/admin/QuanLyCauHoi') Quản lý câu hỏi

    section#sec-a37c.u-align-center.u-clearfix.u-section-1
      .u-clearfix.u-sheet.u-sheet-1
        h2.u-align-center.u-text.u-text-default.u-text-1
          | #{TieuDeBaiTap}
          br
        .u-expanded-width.u-tab-links-align-left.u-tabs.u-tabs-1
          ul.u-spacing-10.u-tab-list.u-unstyled(role='tablist')
            li.u-tab-item(role='presentation')
              a#link-tab-0da5.active.u-active-custom-color-1.u-border-active-custom-color-1.u-border-hover-grey-15.u-button-style.u-tab-link.u-tab-link-1(href='#tab-0da5' role='tab' aria-controls='tab-0da5' aria-selected='true') Danh sách câu hỏi
            li.u-tab-item.u-tab-item-2(role='presentation')
              a#link-tab-8fed.u-active-custom-color-1.u-button-style.u-tab-link.u-tab-link-2(href='#tab-8fed' role='tab' aria-controls='tab-8fed' aria-selected='false') Bảng xếp hạng
            li.u-tab-item.u-tab-item-3(role='presentation')
              a#link-tab-8609.u-active-custom-color-1.u-button-style.u-tab-link.u-tab-link-3(href='#tab-8609' role='tab' aria-controls='tab-8609' aria-selected='false') Chỉnh sửa
          .u-tab-content
            #tab-0da5.u-container-style.u-shape-rectangle.u-tab-active.u-tab-pane(role='tabpanel' aria-labelledby='link-tab-0da5')
              .u-container-layout.u-container-layout-1
                .u-table.u-table-responsive.u-table-1
                  table.u-table-entity
                    colgroup
                      col(width='10.4%')
                      col(width='12.3%')
                      col(width='52.3%')
                      col(width='25%')
                    thead.u-align-center.u-custom-color-1.u-table-header.u-table-header-1
                      tr(style='height: 49px;')
                        th.u-border-1.u-border-custom-color-2.u-table-cell ID Câu hỏi
                        th.u-border-1.u-border-custom-color-2.u-table-cell Độ khó
                        th.u-border-1.u-border-custom-color-2.u-table-cell Tên câu hỏi
                        th.u-border-1.u-border-custom-color-2.u-table-cell Lược đồ
                    tbody.u-table-body
                      each question in questionList
                        tr(style='height: 75px;')
                            td.u-border-1.u-border-grey-30.u-first-column.u-grey-5.u-table-cell.u-table-cell-7 #{question.MaCH}
                            td.u-border-1.u-border-grey-30.u-table-cell #{question.MucDo}
                            td.u-border-1.u-border-grey-30.u-table-cell 
                                a.u-active-none.u-border-none.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-1-base(href='/admin/ChinhSua/'+question.MaCH+'/') #{question.TieuDe}
                            td.u-border-1.u-border-grey-30.u-table-cell #{question.LuocDo}
                a.u-btn.u-button-style.u-custom-color-1.u-btn-1(href='' style='font-weight: 100') Thêm từ thư viện
                a.u-border-none.u-btn.u-btn-round.u-button-style.u-palette-4-base.u-radius-2.u-btn-2(href='./ThemCauHoi')
                  span(style='font-weight: 100; padding-top: 10px; padding-bottom: 10px') Tạo câu hỏi mới 
                  span.u-icon.u-text-white
                    svg.u-svg-content(viewBox='0 0 512 512' x='0px' y='0px' style='width: 1em; height: 1em;')
                      path(d='M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068 c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557 l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104 c0.006-.006,0.011-.013,0.018-.019C513.968,262.339,513.943,249.635,506.134,241.843z')
                    img
              
            #tab-8fed.u-container-style.u-tab-pane.u-tab-pane-2(role='tabpanel' aria-labelledby='link-tab-8fed')
              .u-container-layout.u-container-layout-2
                .u-table.u-table-responsive.u-table-2
                  table.u-table-entity
                    colgroup
                      col(width='10%')
                      col(width='25%')
                      each i in BXH.dsCH 
                        col(width=65/BXH.dsCH.length+'%')

                    tbody.u-table-alt-palette-1-light-3.u-table-body
                      tr(style='height: 65px;')
                        td.u-table-cell Username
                        td.u-table-cell Họ và tên
                        each i in BXH.dsCH
                          td.u-table-cell Câu #{i}

                      each user in BXH.user
                        tr(style='height: 65px;')
                          td.u-table-cell #{user[0].username}
                          td.u-table-cell #{user[0].fullname}
                          each i in user
                            td.u-table-cell #{Math.round(i.KetQua)}     

            #tab-8609.u-container-style.u-shape-rectangle.u-tab-pane.u-tab-pane-3(role='tabpanel' aria-labelledby='link-tab-8609')
              .u-container-layout.u-container-layout-2
                .u-form.u-form-1
                  form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(action='#' method='POST' source='custom' name='form' style='padding: 10px;' id='formElem')
                    .u-form-group.u-form-name
                      label.u-label(for='name-570b') Tên bài tập
                      input#name-570b.u-border-1.u-border-grey-30.u-input.u-input-rectangle.u-white(type='text' placeholder='Nhập vào tên bài tập' name='TieuDe' required='' value=questionList[0].TieuDeBaiTap)
                    .u-form-group.u-form-select.u-form-group-2
                      label.u-label(for='select-b344') Chọn nhóm
                      .u-form-select-wrapper
                        select#select-872c.u-border-1.u-border-grey-30.u-input.u-input-rectangle.u-white(name='MaNhom' required='required')
                          each Nhom in dsNhom
                              option(value=Nhom.MaNhom) #{Nhom.TenNhom}
                        svg.u-caret(xmlns='http://www.w3.org/2000/svg' width='14' height='12' version='1')
                          path(fill='currentColor' d='M4 8L0 4h8z')
                    .u-form-date.u-form-group.u-form-partition-factor-2.u-form-group-3
                      - var TgianBD = new Date(questionList[0].TgianBD);
                      - TgianBD = TgianBD.setHours(TgianBD.getHours() + 7);
                      - TgianBD = new Date(TgianBD);
                      - var TgianKT = new Date(questionList[0].TgianKT);
                      - TgianKT = TgianKT.setHours(TgianKT.getHours() + 7);
                      - TgianKT = new Date(TgianKT);
                      label.u-label(for='date-7664') Thời gian bắt đầu
                      input#date-7664.u-border-1.u-border-grey-30.u-input.u-input-rectangle.u-white(type='datetime-local' step="1" placeholder='MM/DD/YYYY' name='TgianBD' required='' value=TgianBD.toISOString().slice(0,16))
                    .u-form-date.u-form-group.u-form-partition-factor-2.u-form-group-4
                      label.u-label(for='date-adde') Thời gian kết thúc
                      input#date-adde.u-border-1.u-border-grey-30.u-input.u-input-rectangle.u-white(type='datetime-local' step="1" placeholder='MM/DD/YYYY' name='TgianKT' required='' value=TgianKT.toISOString().slice(0,16))
                    .u-form-checkbox.u-form-group.u-form-group-5
                      if (questionList[0].TrangThai == 1)
                        input#checkbox-1d1a.u-checkbox-input(type='checkbox' name='TrangThai' value='1' checked)
                      else
                        input#checkbox-1d1a.u-checkbox-input(type='checkbox' name='TrangThai' value='0')
                      label.u-label(for='checkbox-9835') Check nếu mở câu hỏi
                    .u-align-left.u-form-group.u-form-submit
                      a.u-border-none.u-btn.u-btn-submit.u-button-style.u-custom-color-1.u-btn-3(onclick='SuaBaiTap()') Submit
              p#encoded


script. 
    async function SuaBaiTap() {
        document.querySelector("#encoded").innerHTML = "Đang xử lý...";
        var form = document.querySelector("#formElem");

        let TgianBD = form.querySelector('input[name="TgianBD"]').value;
        let TgianKT = form.querySelector('input[name="TgianKT"]').value;
        TgianBD = new Date(TgianBD);
        TgianKT = new Date(TgianKT);
        TgianBD.setSeconds(0);
        TgianBD.setMilliseconds(000);
        TgianKT.setSeconds(0);
        TgianKT.setMilliseconds(000);

        data = {
            TieuDe: form.querySelector('input[name="TieuDe"]').value,
            MaNhom: form.querySelector('select[name="MaNhom"]').value,
            TgianBD: TgianBD,
            TgianKT: TgianKT,
            TrangThai: form.querySelector('input[name="TrangThai"]').checked,
        }

        let url = window.location.href;

        let response = await fetch(url, {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
                json: true
        })

        //selector button class btn btn-success from document
        //document.querySelector('')
        let text = await response.json(); 
        console.log(text)

        document.querySelector("#encoded").innerHTML = text.message;
    }