doctype html
html(style='font-size: 16px;' lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='​Library Education, ​Meet our Principal, ​Helping each child find and follow their best learning path.')
    meta(name='description' content='')
    title Trang chủ
    link(rel='stylesheet' href='/public/source/css/Nicepage.css' media='screen')
    link(rel='stylesheet' href='/public/source/css/QuanLyBaiTap.css' media='screen')
    script.u-script(type='text/javascript' src='/public/source/js/jquery.js')
    script.u-script(type='text/javascript' src='/public/source/js/nicepage.js')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
    link#u-page-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
    meta(name='theme-color' content='#478ac9')
    meta(property='og:title' content='Trang chủ')
    meta(property='og:type' content='website')
  body.u-body.u-xl-mode(data-lang='en')
    header#sec-8082.u-align-center-sm.u-align-center-xs.u-clearfix.u-header.u-header
      .u-clearfix.u-sheet.u-valign-middle.u-sheet-1
        a.u-image.u-logo.u-image-1(href='/')
          img.u-logo-image.u-logo-image-1(src='/public/source/image/default-logo.png')
        .u-social-icons.u-spacing-10.u-social-icons-1
          a.u-social-url(title='facebook' target='_blank' href='')
            span.u-icon.u-social-facebook.u-social-icon.u-icon-1
              svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 112 112' style='')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-4239')
              svg#svg-4239.u-svg-content(viewBox='0 0 112 112' x='0' y='0')
                circle(fill='currentColor' cx='56.1' cy='56.1' r='55')
                path(fill='#FFFFFF' d='M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2\
                c0-6.7,3.1-17,17-17h12.5v13.9H73.5z')
          a.u-social-url(title='twitter' target='_blank' href='')
            span.u-icon.u-social-icon.u-social-twitter.u-icon-2
              svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 112 112' style='')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-dda9')
              svg#svg-dda9.u-svg-content(viewBox='0 0 112 112' x='0' y='0')
                circle.st0(fill='currentColor' cx='56.1' cy='56.1' r='55')
                path(fill='#FFFFFF' d='M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2\
                c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1\
                c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14\
                c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4\
                c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z')
          a.u-social-url(title='instagram' target='_blank' href='')
            span.u-icon.u-social-icon.u-social-instagram.u-icon-3
              svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 112 112' style='')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-a878')
              svg#svg-a878.u-svg-content(viewBox='0 0 112 112' x='0' y='0')
                circle(fill='currentColor' cx='56.1' cy='56.1' r='55')
                path(fill='#FFFFFF' d='M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2\
                z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z')
                path(fill='#FFFFFF' d='M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z')
                path(fill='#FFFFFF' d='M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8\
                C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5\
                c5.5,0,9.9,4.5,9.9,9.9V73.3z')
        nav.u-align-left.u-menu-dropdown.u-offcanvas.u-menu-1
          .menu-collapse(style='font-size: 1rem;')
            a.u-button-style.u-nav-link(href='#')
              svg.u-svg-link(preserveAspectRatio='xMidYMin slice' viewBox='0 0 302 302' style='')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-8a8f')
              svg#svg-8a8f.u-svg-content(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 302 302' style='enable-background:new 0 0 302 302;' xml:space='preserve')
                g
                  rect(y='36' width='302' height='30')
                  rect(y='236' width='302' height='30')
                  rect(y='136' width='302' height='30')
          .u-custom-menu.u-nav-container
            ul.u-nav.u-unstyled.u-nav-1
              li.u-nav-item
                a.u-button-style.u-nav-link(href='/user/TestSQL') Luyện tập
              li.u-nav-item
                a.u-button-style.u-nav-link(href='/user/BaiTap') Bài tập
              li.u-nav-item
                a.u-button-style.u-nav-link() Cá nhân
                .u-nav-popup
                  ul.u-h-spacing-20.u-nav.u-unstyled.u-v-spacing-10.u-nav-2
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/user/profile') Trang cá nhân
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/user/LichSu') Lịch sử truy vấn
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/user/DoiMatKhau') Đổi mật khẩu
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(onclick="eraseCookie('x_authorization')") Đăng xuất
              li.u-nav-item
                a.u-button-style.u-nav-link() Admin
                .u-nav-popup
                  ul.u-h-spacing-20.u-nav.u-unstyled.u-v-spacing-10.u-nav-2
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/admin/QuanLyBaiTap') Quản lý bài tập
                    li.u-nav-item
                      a.u-button-style.u-nav-link.u-white(href='/admin/QuanLyCauHoi') Quản lý câu hỏi

    section#sec-c3e1.u-align-center.u-clearfix.u-section-1
      .u-clearfix.u-sheet.u-valign-top.u-sheet-1
        a.u-border-none.u-btn.u-button-style.u-custom-color-1.u-btn-1(href='/admin/ThemCauHoi') Thêm câu hỏi mới
        .u-expanded-width.u-table.u-table-responsive.u-table-1
          table.u-table-entity.u-table-entity-1
            colgroup
              col(width='10%')
              col(width='50%')
              col(width='10%')
              col(width='20%')
              col(width='10%')
            tbody.u-table-alt-palette-1-light-3.u-table-body
              tr(style='height: 65px;')
                td.u-table-cell Mã CH
                td.u-table-cell Tiêu đề
                td.u-table-cell Mức độ
                td.u-table-cell Lược đồ
                td.u-table-cell Tình trạng
                
              each question in questionList
                tr(style='height: 65px;')
                  td.u-table-cell #{question.MaCH}
                  td.u-table-cell
                      a.u-active-none.u-border-none.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-1-base.u-btn-1(href='/admin/ChinhSua/'+question.MaCH+'/') #{question.TieuDe}
                  td.u-table-cell #{question.MucDo}
                  td.u-table-cell #{question.LuocDo}
                  td.u-table-cell #{question.TinhTrang}

script. 
    async function TaoBaiTap() {
        var form = document.querySelector("#formElem");

        let TgianBD = form.querySelector('input[name="TgianBD"]').value;
        let TgianKT = form.querySelector('input[name="TgianKT"]').value;
        TgianBD = new Date(TgianBD);
        TgianKT = new Date(TgianKT);
        TgianBD.setSeconds(0);
        TgianBD.setMilliseconds(000);
        TgianKT.setSeconds(0);
        TgianKT.setMilliseconds(000);

        data = {
            TieuDe: form.querySelector('input[name="TieuDe"]').value,
            MaNhom: form.querySelector('select[name="MaNhom"]').value,
            TgianBD: TgianBD,
            TgianKT: TgianKT,
            TrangThai: form.querySelector('input[name="TrangThai"]').checked,
        }

        let url = window.location.href;

        let response = await fetch(url, {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
                json: true
        })

        //selector button class btn btn-success from document
        //document.querySelector('')
        let text = await response.json(); 
        console.log(text)

        document.querySelector("#encoded").innerHTML = text.message;
    }